<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }}'s Collection</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form action="/add_card" method="POST">
        <input type="number" name="quantity" value="1" min="1">
        <select name="style">
            <option value="0">Normal</option>
            <option value="1">Foil</option>
            <option value="2">Etched</option>
        </select>
        <input type="text" name="name" placeholder="Card Name">
        <input type="text" name="set_code" placeholder="Set Code (Optional)">
        <input type="submit" value="Add">
    </form>
    <a href="/logout">Logout</a>
    <div>
        <h2>{{ username }}'s Collection ({{ total }} cards with {{ unique }} unique)</h2>
        <input type="submit" form="update" value="Update">
    </div>
    <table>
        <tr>
            <th>Quantity</th>
            <th>Style</th>
            <th>Name</th>
            <th>Set</th>
            <th>Type</th>
            <th>Cost</th>
            <th>Price</th>
        </tr>
        <form action="/update" method="POST" id="update">
            {% for i in range(collection_length) %}
                <tr>
                    <td><input type="text" name="{{ i }}_quantity" value="{{ collection[i]['quantity'] }}"></td>
                    <input type="hidden" name="{{ i }}_style" value="{{ collection[i]['style'] }}">
                    <td>
                        {% if collection[i]['style'] == 0 %}
                            Normal
                        {% elif collection[i]['style'] == 1 %}
                            Foil
                        {% else %}
                            Etched
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('display_from_collection', name = collection[i]['name'], set_code = collection[i]['set_code']) }}">{{ collection[i]['name'] }}</a></td>
                    <td>{{ collection[i]['set_code'].upper() }}</td>
                    <td>{{ collection[i]['type'] }}</td>
                    <td>{{ collection[i]['cost'] }}</td>
                    <td>
                        {% if collection[i]['style'] == 0 %}
                            {{ collection[i]['usd'] }}
                        {% elif collection[i]['style'] == 1 %}
                            {{ collection[i]['usd_foil'] }}
                        {% else %}
                            {{ collection[i]['usd_etched'] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </form>
    </table>
</body>

</html>